
body{
    background-color: black;
    color: white;
    
}
.Container{
    position: absolute;
    top: 40%;
    right: 45%;

}
.comp button{
    width: 5vw;
    height: 4vh;
}
button{
    width: 8vw;
    height: 4vh;
}
